
<h1>{{title}}</h1>

<h2> Route from routes/index.js, template from views/index.hbs, and using views/layout.hbs as default layout template</h2>

<p> Lorem ipsum dolor sit amet, in liber persequeris instructior sed, an tota saepe pri, quo dicat adolescens in. Ne eros ponderum mea, vel ex prima splendide, vim illud definiebas ex. Nec mazim veniam ad. Mei integre expetenda no, mea elit fuisset molestiae ex. Est in error delenit commune, nobis suscipit verterem mea ex. </p>

