<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="/scripts/vendor/jquery.min.js"></script>
  </head>
  <body ">
  	<div class="container">
    	{{{body}}}
    </div>
    
    <footer class="standard"></footer>
  </body>
</html>
